{% extends "base.html" %}

{% block content %}

{% if code == 500 %}
<h1>Что-то пошло не так.</h1>
<h3>Если вы это видите, то напишите об этом мне. Желательно еще приписать как вы это увидели.</h3>
<p>&nbsp;</p>
<p>Ошибка 500: Ошибка внутри сервера.</p>
{% elif code == 404 %}
<h1>Здесь ничего нет.</h1>
<h3>И никогда не было. </h3>
<p>&nbsp;</p>
<p>Ошибка 404: Страница не найдена.</p>
{% elif code == 403 %}
<h1>Вы куда лезете? </h1>
<h3>Вам сюда нельзя. Вот прям совсем.</h3>
<p>&nbsp;</p>
<p>Ошибка 403: Доступ запрещен.</p>
{% elif code == 400 %}
<h1>Что-то пошло не так, но это не моя вина.</h1>
<h3>Может быть у вас плохой браузер.</h3>
<p>&nbsp;</p>
<p>Ошибка 400: Плохой запрос.</p>
{% endif %}

{% endblock %}