{% extends "base.html" %}

{% block content %}
<h1>{{title}}#{{id}}</h1>
<h3>Администратор: <a href="/u/{{admin.id}}">{{admin.nickname}}</a></h3>
<h3>Тип: {% if personal %}личный{% elif private %}приватный{% else %}публичный{% endif %}.</h3>
{% if current_user.id != admin.id %}
<h3><a class="btn btn-outline-light" href="/follow/{{id}}" role="button">{% if str(id) in current_user.follow.split(',') %}Прекратить отслеживать{% else %}Отслеживать{% endif %}</a></h3>
{% endif %}
{% if current_user.id == admin.id and not personal%}
<h3><a class="btn btn-outline-success" href="/createevent/{{id}}" role="button">Создать мероприятие</a></h3>
{% endif %}
{% if current_user.id == admin.id and not personal%}
<h3><a class="btn btn-outline-warning" href="/editforum/{{id}}" role="button">Редактировать форум</a></h3>
{% endif %}
<p>&nbsp;</p>
{% if can_write %}
<form action="" method="POST">
  <p><b>{{current_user.nickname}}#{{current_user.id}}:  </b><textarea rows="2" name="text" class="form-control message" placeholder="Сообщение"></textarea></p>
  <p><button type="submit" class="btn btn-outline-light">Отправить</button></p>
  
</form>
{% endif %}
<p>&nbsp;</p>
<h5>Все сообщения:</h5>
<div class="message_holder">
  {% for message in messages[::-1] %}
    <div class="message_header alert alert-secondary"><b>{{users.filter(User.id == message.user_id).first().nickname}}</b><i>#{{message.user_id}}</i> <sup>{{message.datetime.strftime("%d.%m.%Y %H:%M")}}</sup></div><div class="multiline alert alert-dark">{{format_message(message.message)|safe}}</div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port); // Подключение сокета
      socket.on( 'connect', function() { // Если пользователь подключился
        socket.emit('join', "{{id}}")
        var form = $( 'form' ).on( 'submit', function( e ) { // При нажатии на отправить
          e.preventDefault()
          let user_input = $( 'textarea.message' ).val()
          socket.emit( 'new_message', { // Отправка данных
            user_id : {{current_user.id}},
            user_nickname : "{{ current_user.nickname }}",
            message : user_input,
            forum_id : {{ id }}
          } )
          $( 'textarea.message' ).val( '' ).focus() // очистить место для сообщений
        } )
      } )
      socket.on( 'recieve_response', function( msg ) { // При получении ответа от питона
          $( 'div.message_holder' ).prepend( '<div class="message_header alert alert-secondary"><b>'+msg.user_nickname+'</b>#<i>' + msg.user_id + "</i> <sup>" + msg.datetime + '</sup></div><div class="multiline alert alert-dark">' + msg.format_message+'</div>' ) // Добавляем к сообщениям еще одно
          document.title = "Новое сообщение"
      })
      var myListener = function () {
        document.title = "{{title}}"
      };
      document.addEventListener('mousemove', myListener, false);
    </script>
{% endblock %}