{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" class="form-inline">
{{ form.hidden_tag() }}
{{ form.query(class="form-control", placeholder=form.query.label.text) }}
{{ form.submit(type="submit", class="btn btn-light", value=form.submit.label.text) }}
</form>
<p>&nbsp;</p>
{% if forums == [] %}
<h4>Введите запрос.</h4>
{% endif %}
{% for forum in forums %}
<div class="alert alert-dark" role="alert">
  <a href="/f/{{forum.id}}">{{forum.title}}</a><b color="CCC">#{{forum.id}}</b>
</div>
{% endfor%}
{% endblock %}